$content: center;
$text-color: white;
$nav-bg-color: black;
$text-upper: uppercase;
$change-cursors: (
  active: pointer,
  inactive: default,
);

$size-fonts: (
  small: 12px,
  medium: 16px,
  x-small: 10px,
);

$font-weights: (
  light: 300,
  dark: 400,
  darker: 700,
  bold: bold,
);
