@import "./resets";
@import "./variables";

// Bootstrap and Bootstrap Icons imports
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@mixin creatCard {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-color: rgba(247, 247, 247, 0.785);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 9px;
}

@mixin newIconFlex {
  display: flex;
  flex-direction: row;
  text-align: end;
  position: absolute;
}

@mixin wrapText {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@mixin newText {
  background-color: rgb(236, 235, 235);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 50%;
  margin-top: 8px;
  cursor: map-get($change-cursors, inactive);
}

@mixin exclusiveNew {
  background-color: rgb(236, 235, 235);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  border-radius: 50%;
  margin-top: 8px;
  cursor: map-get($change-cursors, active);
}

@mixin xclusive {
  background-color: rgb(236, 235, 235);
  border-radius: 15px;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: map-get($change-cursors, active);
}

/*! carousel container */

.slider-class {
  background-color: $nav-bg-color;
}

#carouselExampleControls {
  height: 28px;
  text-align: $content;
  max-width: 65%;
  padding-right: 45px;

  .carousel-control-prev {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }

  .carousel-control-next {
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-right: 35px;
  }
}

.carousel-inner {
  text-transform: $text-upper;
  font-size: map-get($size-fonts, medium);
  font-weight: map-get($font-weights, light);
  margin: 4px auto 0 auto;
  cursor: map-get($change-cursors, inactive);
}
.carousel-item {
  padding-left: 20px;
  padding-right: 20px;
}

.carousel-control-next-icon {
  color: $nav-bg-color;
}

/*! carousel container */

/*! enable-container */
.enable-container {
  position: absolute;
  top: 0;
  right: 0;
  font-size: map-get($size-fonts, medium);
  font-weight: map-get($font-weights, dark);
  cursor: map-get($change-cursors, inactive);
  &:hover {
    .enable-class {
      color: red;
    }
  }
  & .enable-class {
    padding-top: 4px;
    padding-right: 35px;
    color: white;
  }
}

/*enable-container*/

/*movado image navbar*/

.navbar-container {
  display: flex;
  flex-direction: row;
}

.navbar-nav {
  padding-top: 4px;
  padding-right: 20px;

  i {
    cursor: map-get($change-cursors, active);
  }
}

.navbar {
  width: 90%;
  & .navbar-brand {
    font-size: 2rem;
    padding-left: 15px;
  }

  &-nav {
    display: flex;
    justify-content: space-between;

    & .nav-item {
      margin-right: 10px;
    }

    &.ml-auto {
      margin-left: auto;
      padding: 20px;

      & .nav-item {
        margin-left: 10px;
      }
    }
  }

  &-collapse {
    justify-content: center;
    text-transform: uppercase;
  }
}

/*movado image navbar*/

/*! Arrivalbar */
.arrival-class {
  text-align: $content;
  color: $text-color;
  background-color: $nav-bg-color;
  padding: 5rem 13rem;
  text-transform: $text-upper;

  & h1 {
    cursor: map-get($change-cursors, active);
  }
}
.title-container {
  @include wrapText;
}

.navbar-brand-arrivals {
  font-size: map-get($size-fonts, small);
  font-weight: map-get($font-weights, bold);
  text-decoration: none;
  outline: none;
  color: $nav-bg-color;
  cursor: map-get($change-cursors, active);
}

.calculate-total-items {
  font-weight: lighter;
}

/* arrival nav container*/
.nav-container {
  border-bottom: 3px solid rgb(232, 231, 231);
}

.filter-class {
  font-size: map-get($size-fonts, medium);
  padding-top: 20px;
  padding-right: 25px;
  cursor: map-get($change-cursors, active);
  font-weight: map-get($font-weights, bold);

  i {
    font-weight: map-get($font-weights, bold);
    padding-right: 5px;
  }
}
/* arrival nav container*/

/* card body text*/

.card-title {
  color: gray;
  font-size: map-get($size-fonts, small);
  cursor: map-get($change-cursors, active);
  width: 25%;
}
.card-text {
  font-weight: map-get($font-weights, dark);
  font-size: map-get($size-fonts, medium);
  cursor: map-get($change-cursors, active);
  width: 60%;
}

/* card body text*/

/*image head exclusive*/

.exclusive-text {
  @include xclusive;

  p {
    padding-bottom: 5px;
  }
}

.exclusive-class {
  font-size: map-get($size-fonts, x-small);
  text-transform: $text-upper;
  text-align: $content;
}

.exclusive-container {
  @include newIconFlex;
  right: 5px;
  top: 10px;
}
/*image head exclusive*/

/*image head exclusive with new*/
.exclusive-new-text {
  @include newIconFlex;
  right: 5px;
  top: 35px;
}

.new-text-E {
  @include exclusiveNew;

  p {
    padding-top: 10px;
    font-weight: map-get($font-weights, dark);
    font-size: map-get($size-fonts, small);
    text-transform: $text-upper;
  }
}
/*image head exclusive with new*/

/*image head new alone*/

.new-text-container {
  @include newIconFlex;
  right: 8px;
  top: 10px;
}

.new-text-class {
  @include newText;

  p {
    padding-top: 10px;
    font-weight: map-get($font-weights, dark);
    font-size: map-get($size-fonts, small);
    text-transform: $text-upper;
  }
}

/*image head new alone*/

/* card style container*/

.card-style {
  @include creatCard;

  .card-img-top {
    margin-bottom: 1rem;
  }
}

/* card style container*/

/* card hover*/

.card-hover-container {
  border: none;
  position: relative;
  overflow: hidden;

  .test-hover {
    position: absolute;
    margin-top: 0;
    bottom: -214px;
    left: 0;
    right: 0;
    background-color: white;
    transition: all 0.4s;

    .card-detail {
      p {
        padding-top: 1rem;
        //padding-left: 5px;
        width: 90%;
      }

      & .button-img-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        padding-bottom: 1rem;

        & .button-class {
          border-radius: 50px;
          padding-right: 20px;
          padding-left: 20px;
          background-color: white;
          border-style: solid;
          border-width: thin;
        }
      }
    }
  }

  &:hover {
    .test-hover {
      bottom: 0;
    }
  }
}

.button-class:hover {
  box-shadow: inset 0 0 0 0.0625rem black;
}
/* card hover*/

/*navbar menu*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  overflow-y: hidden;
  overflow-x: hidden;
  transition: 0.5s;

  a {
    padding: 8px;
    text-decoration: none;
    font-size: map-get($size-fonts, large);
    color: #818181;
    display: block;
    transition: 0.3s;
  }
}

.overlay-image {
  float: right;
  margin-right: 0.2rem;
  margin-top: -22rem;
}

.overlay-content {
  position: relative;
  top: 19%;
  width: 50%;
  text-align: left;
  margin-left: 40px;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*navbar menu*/

.footer1 {
  bottom: 0;
  position: relative;
  text-align: $content;
  background-color: $nav-bg-color;
  padding: 5px;
  margin-top: 8px;
}
